.iconhome {
  color: #0093de;
  margin-left: 225px;
  color: white;
  height: 20px;
}
.dhlk {
  list-style-type: none;
  display: inline;
  color: white;
}
.dhl {
  list-style-type: none;
  display: inline;
  color: white;
}
.dh {
  list-style-type: none;
  display: inline;
  color: white;
}
#top {
  background-color: black;
}
#sun {
  margin-top: 20px;
}
#toppic{
  display: block;
  margin-top: 20px;
  margin-left: 175px;
  padding-left: 65px;
  padding-top: 20px;
  padding-bottom: 25px;
}
li {
  display: inline;
}
#ph {
  color: white;
}
#pho {
  color: white;
}
.dhl
div ul li {
  display: inline;
}
.sywz {
  float: left;
}
.sy {
  list-style-type: none;
  display: inline;
  color: white;
}
.wx {
  list-style-type: none;
  display: block;
  color: white;
}
.bottom {
  background-color: black;
  height: 15pc;
}
#di {
  font-weight: 100%;
  color: white;
  margin-top: 150px;
  margin-left: 450px;
}
a{
  color: #0093de;
}
.juzhong {
  text-align: center;
  font-size: 30px;
  padding-top: 20px;
}
.juzh {
  text-align: center;
  padding: 10px;
  padding-bottom: 40px;
}
.jzlan {
  text-align: center;
  padding: 20px;
}
.jz {
  color: #0093de;
}
.icontnz-car {
  width: 100px;
}
.icontnz-weather {
  width: 100px;
}
.icontnz-accommodation {
  width: 100px;
}
.icontnz-bus {
  width: 100px;
}