nav ul li{
  list-style-type: none;
  display: inline;
  color: white;
}
#top {
  background-color: black;
}
li {
  display: inline;
}
#ph {
  color: white;
}
#pho {
  color: white;
}
div ul li {
  display: inline;
}